@media screen and (min-width: 1024px) {
  .filtre-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 98%;
    max-width: 1340px;
    height: 50px;
    margin-bottom: 20px;
  }
  .filtre-zone h2 {
    width: 54px;
    height: 21px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .button {
    max-width: 173px;
    height: 50px;
    padding: 8px 19px 8px 19px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid var(--filter-bg-color);
    background-color: white;
    margin: 8px;
  }
  .button span {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 5px;
    display: inline;
  }
  .button i {
    color: var(--main-color);
    width: 14px;
    height: 22px;
    font-size: medium;
  }
  .mobile-filtre :hover {
    background-color: var(--filter-bg-color);
  }
}